body{
    background-color: antiquewhite;
}

nav{
    display: flex;
    justify-content: space-around;
    backface-visibility: hidden;
    background-color: antiquewhite;
    box-shadow: 0 0 15px rgba(0, 0, 0, 1);
    border-radius: 100px;
    align-items: center;
}

.navitem{
    padding: 10px;
    font-size: 20px;
    text-decoration: solid;
}

#about{
    color: crimson;
    font-size: 50px;
}
.navitem:hover{
    color: brown;
}

.internalnavbar{
    display: flex;
    justify-content: space-around;
    padding: 25px;
}

.intnavitem{
    color: black;
    font-size: 25px;
}
.intnavitem:hover{
    color: brown;
    
}
.resume{
    color: black;
    text-decoration: underline;
}

a{
    color: black;
    text-decoration: solid;
    font-size: 20px;
}

.resumehead:hover{
    color: brown;
}

.about{
    padding: 20px;
    font-size: 20px;
    text-align: justify;
}

.Academic{
    padding: 20px;
}

table,th,td{
    border: 2px solid black;
    color: black;
    border-collapse: collapse;
    margin: auto;
}

th,td{
    padding: 20px;
    font-size: 20px;
}

ul{
    text-align: justify;
    caption-side: top;
    padding: auto;
    font-size: 20px;
}

.internships{
    padding: 20px;
}

.Certificate{
    text-decoration: underline;
}

@media (min-width: 768px) {
    .navitem {
        font-size: 28px;
        padding: 20px;
    }
    .internalnavbar {
        font-size: 20px;
        padding: 20px;
    }

}

/* Media query for small screens */
@media (max-width: 600px) {
    nav {
        flex-direction: column;
        padding: 10px;
    }

    .navitem {
        font-size: 20px;
        padding: 8px;
    }
}
