body{
    background-color: antiquewhite;
}

nav{
    display: flex;
    justify-content: space-around;
    border-radius: 100px;
    background-color: antiquewhite;
    box-shadow: 0 0 15px rgba(0, 0, 0, 1);
    align-items: center;
}

.navitem{
    padding: 20px;
    font-size: 28px;
    text-decoration: solid;
    color: black;
}
#projects{
    color: crimson;
    font-size: 50px;
}

li{
    font-size: 25px;
}

.description{
    font-size: 20px;
}

@media (min-width: 768px) {
    .navitem {
        font-size: 28px;
        padding: 20px;
    }

    .WelcomeNote {
        flex-direction: row;
        justify-content: space-around;
        text-align: left;
        padding: 100px;
    }

    .selfIntroduction {
        max-width: none;
    }
}

/* Media query for small screens */
@media (max-width: 600px) {
    nav {
        flex-direction: column;
        padding: 10px;
    }

    .navitem {
        font-size: 20px;
        padding: 8px;
    }

    .WelcomeNote {
        flex-direction: column;
        padding: 20px;
    }

    .image img {
        width: 120px;
        height: 160px;
    }
}


@media (min-width: 768px) {
    .navitem {
        font-size: 28px;
        padding: 20px;
    }
}

/* Media query for small screens */
@media (max-width: 600px) {
    nav {
        flex-direction: column;
        padding: 10px;
    }

    .navitem {
        font-size: 20px;
        padding: 8px;
    }
}
