body{
    background-color: antiquewhite;
}

.navBar{
    backface-visibility: hidden;
    background-color:antiquewhite;
    border-radius: 100px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 1);
    display: flex;
    text-decoration: none;
    padding: auto;
    justify-content: space-around;
}

.navitem{
    color: black;
    padding: 20px;
    align-content: center;
    text-decoration: solid;
    font-size: 28px;
}

.navitem:hover{
    color: brown;
}

.WelcomeNote{
    display: flex;
    justify-content: space-around;
    padding: 100px;
}

.selfIntroduction{
    text-align: justify;
    padding: 15px;
}
.image{
    padding: 10px;
    backface-visibility: hidden;
    
}


@media (min-width: 768px) {
    /* Layout for larger screens */
    .navitem {
        font-size: 28px;
        padding: 20px;
    }

    .WelcomeNote {
        flex-direction: row;
        justify-content: space-around;
        padding: 100px;
    }

    .selfIntroduction {
        max-width: none;
        padding: 15px;
    }
}