body {
    background-color: antiquewhite;
    margin: 0;
    padding: 0;
}

nav{
    background-color: antiquewhite;
    border-radius: 100px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 1);
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    backface-visibility: hidden;
    margin: 10px auto;
}

#home{
    color:crimson;
    font-size: 50px;
}
.navitem {
    color: black;
    text-decoration: none;
    font-size: 20px;
    padding: 10px;
}

.navitem:hover {
    color: brown;
}

.WelcomeNote {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
}

.selfIntroduction {
    max-width: 90%;
    margin-bottom: 20px;
}

.image {
    padding: 10px;
    backface-visibility: hidden;
}

/* Media query for larger screens */
@media (min-width: 768px) {
    .navitem {
        font-size: 28px;
        padding: 20px;
    }

    .WelcomeNote {
        flex-direction: row;
        justify-content: space-around;
        text-align: left;
        padding: 100px;
    }

    .selfIntroduction {
        max-width: none;
    }
}

/* Media query for small screens */
@media (max-width: 600px) {
    nav {
        flex-direction: column;
        padding: 10px;
    }

    .navitem {
        font-size: 20px;
        padding: 8px;
    }

    .WelcomeNote {
        flex-direction: column;
        padding: 20px;
    }

    .image img {
        width: 120px;
        height: 160px;
    }
}
